<html><head><title>NRcdrom ANSI C++.  Server/Internet Use Prohibited.</title>
</head><body bgcolor="#FFF8E0">
<h1>Numerical Recipes ANSI C++ Files</h1>

The best way to find a routine of interest is by one of the following
two links.  (You will be able to go back and forth between the two by
clicking on the chapter number links, and you will also be able to get
to the Example routines that demonstrate the Recipes.)<p>

<menu>
<li><a href="progs.htm"><b>Numerical Recipes Routines by Chapter and
Section</b></a>
<li><a href="toc.htm"><b>Numerical Recipes Table of Contents</b></a>
</menu>

<h2>Access via Directories:</h2>

Here is direct access to the directories containing miscellaneous files:<p>
<a href="progs.htm">Numerical Recipes Routines by
Chapter and Section</a> link.<p>


Finally, here are<p>

<menu>
<li><a href="disk.id">Version information</a>
<li><a href="info.htm">Troubleshooting and other tips and hints</a>
<li><a href="wincmpl.htm">Notes on using Numerical Recipes in C++
with various windows compilers</a>
</menu>


</body></html>
