{
	"age":{"lab":"行为年龄", "0":"未识别", "1":"18～25", "2":"26～35", "3":"36～45", "4":"46～60"},
	"car":{"lab":"是否有车", "10":"有", "20":无},
	"child":{"lab":"是否有子女", "0":"无", "1":"有"},
	"child_age":{"lab":"子女年龄", "0":"未识别", "1":"青少年", "2":"婴幼儿", "3":"孕育期"},
	"consuming_ability":{"lab":"消费意愿", "50":"普通", "70":"中高", "90":"高"},
	"gender":{"lab":"行为性别", 1":"男", "0":"女"},
	"income_level":{"lab:"收入水平", "50":"普通", "70":"中高", "90":"高"},
	"married":{"lab:"婚姻情况", "1":"已婚" ,"0":"未婚"},
	"phone_type":{"lab":"手机品牌", "40":"商务", "30":"高端", "25":"中高端", "20":"中端", "10":"低端"},
	"score":{"lab":"评分"},
	"type_of_business":{"lab":"职业类型", "40":"公务人员,企业主", "35":"企业管理", "30":"白领", "20":"销售人员", "15":"个人店主", "10":"蓝领", "5":"未识别"},
	"iszhapian":{"lab":"是否是诈骗电话", "0":"否", "1":"是"},
	"city":{"lab":"城市"},
	"company":{"lab":"运行商"},
	"province":{"lab":省份"}
}

